In [2]:
import numpy as np #for array operration
import pandas as pd #creating and handling dataset
import seaborn as sns #for visualization
import matplotlib.pyplot as plt #for advanced plot

data = pd.read_csv('fraudTest.csv')
data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [3]:
data.drop(columns=['Unnamed: 0','street','state','first','last','trans_num','unix_time'],inplace=True)

In [4]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'],format='mixed')

In [5]:
data['hour'] = data['trans_date_trans_time'].dt.hour
data['day'] = data['trans_date_trans_time'].dt.day_name()
data['month'] = data['trans_date_trans_time'].dt.month

In [6]:
data['merchant'] = data['merchant'].apply(lambda x : x.replace('fraud_',''))

In [7]:
data[['merchant']].head()

                         merchant
0                 Kirlin and Sons
1                  Sporer-Keebler
2  Swaniawski, Nitzsche and Welch
3                     Haley Group
4                 Johnston-Casper

In [8]:
data['gender'].value_counts()

gender
F    304886
M    250833
Name: count, dtype: int64

In [9]:
gender_text_to_num = {'M':1,'F':0}
data['gender'] = data['gender'].map(gender_text_to_num)
data

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,zip,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,hour,day,month
0,2020-06-21 12:14:25,2291163933867244,Kirlin and Sons,personal_care,2.86,1,Columbia,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,33.986391,-81.200714,0,12,Sunday,6
1,2020-06-21 12:14:33,3573030041201292,Sporer-Keebler,personal_care,29.84,0,Altonah,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,39.450498,-109.960431,0,12,Sunday,6
2,2020-06-21 12:14:53,3598215285024754,"Swaniawski, Nitzsche and Welch",health_fitness,41.28,0,Bellmore,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,40.495810,-74.196111,0,12,Sunday,6
3,2020-06-21 12:15:15,3591919803438423,Haley Group,misc_pos,60.05,1,Titusville,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,28.812398,-80.883061,0,12,Sunday,6
4,2020-06-21 12:15:17,3526826139003047,Johnston-Casper,travel,3.19,1,Falmouth,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,44.959148,-85.884734,0,12,Sunday,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,30560609640617,Reilly and Sons,health_fitness,43.77,1,Luray,63453,40.4931,-91.8912,519,Town planner,1966-02-13,39.946837,-91.333331,0,23,Thursday,12
555715,2020-12-31 23:59:09,3556613125071656,Hoppe-Parisian,kids_pets,111.84,1,Lake Jackson,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,23,Thursday,12
555716,2020-12-31 23:59:15,6011724471098086,Rau-Robel,kids_pets,86.88,0,Burbank,99323,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,23,Thursday,12
555717,2020-12-31 23:59:24,4079773899158,Breitenberg LLC,travel,7.99,1,Mesa,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,44.470525,-117.080888,0,23,Thursday,12
555718,2020-12-31 23:59:34,4170689372027579,Dare-Marvin,entertainment,38.13,1,Edmond,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,23,Thursday,12

In [10]:
data['category'].unique()

array(['personal_care', 'health_fitness', 'misc_pos', 'travel',
       'kids_pets', 'shopping_pos', 'food_dining', 'home',
       'entertainment', 'shopping_net', 'misc_net', 'grocery_pos',
       'gas_transport', 'grocery_net'], dtype=object)

In [11]:
category_text_to_num = {'personal_care':1, 'health_fitness':2, 'misc_pos':3, 'travel':4,
       'kids_pets':5, 'shopping_pos':6, 'food_dining':7, 'home':8,
       'entertainment':9, 'shopping_net':10, 'misc_net':11, 'grocery_pos':12,
       'gas_transport':13, 'grocery_net':14}
data['category'] = data['category'].map(category_text_to_num)
data

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,zip,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,hour,day,month
0,2020-06-21 12:14:25,2291163933867244,Kirlin and Sons,1,2.86,1,Columbia,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,33.986391,-81.200714,0,12,Sunday,6
1,2020-06-21 12:14:33,3573030041201292,Sporer-Keebler,1,29.84,0,Altonah,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,39.450498,-109.960431,0,12,Sunday,6
2,2020-06-21 12:14:53,3598215285024754,"Swaniawski, Nitzsche and Welch",2,41.28,0,Bellmore,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,40.495810,-74.196111,0,12,Sunday,6
3,2020-06-21 12:15:15,3591919803438423,Haley Group,3,60.05,1,Titusville,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,28.812398,-80.883061,0,12,Sunday,6
4,2020-06-21 12:15:17,3526826139003047,Johnston-Casper,4,3.19,1,Falmouth,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,44.959148,-85.884734,0,12,Sunday,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,30560609640617,Reilly and Sons,2,43.77,1,Luray,63453,40.4931,-91.8912,519,Town planner,1966-02-13,39.946837,-91.333331,0,23,Thursday,12
555715,2020-12-31 23:59:09,3556613125071656,Hoppe-Parisian,5,111.84,1,Lake Jackson,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,23,Thursday,12
555716,2020-12-31 23:59:15,6011724471098086,Rau-Robel,5,86.88,0,Burbank,99323,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,23,Thursday,12
555717,2020-12-31 23:59:24,4079773899158,Breitenberg LLC,4,7.99,1,Mesa,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,44.470525,-117.080888,0,23,Thursday,12
555718,2020-12-31 23:59:34,4170689372027579,Dare-Marvin,9,38.13,1,Edmond,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,23,Thursday,12

In [12]:
data['dob'] = pd.to_datetime(data['dob'],format='mixed')
data['age'] = (data['trans_date_trans_time'].dt.year - data['dob'].dt.year).astype(int)
data.drop(columns='dob',inplace=True)

In [13]:

x = data[[ 'cc_num', 'category', 'amt',
       'gender', 'zip', 'lat', 'long', 'city_pop','merch_lat',
       'merch_long', 'hour', 'month', 'age']].values
y = data['is_fraud'].values

print('data segregated')

from imblearn.over_sampling import SMOTE
sm = SMOTE()
x_sampled,y_sampled = sm.fit_resample(x,y)


from sklearn.model_selection import train_test_split
x_train_sampled , x_test_sampled , y_train_sampled , y_test_sampled = train_test_split(x_sampled,y_sampled,test_size=0.2,random_state=100)
print('data split')

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_scaled_sampled = sc.fit_transform(x_train_sampled)
x_test_scaled_sampled = sc.fit_transform(x_test_sampled)
print('data scaled')

from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(x_train_scaled_sampled,y_train_sampled)
print('model trained')

y_pred_new = gnb.predict(x_test_scaled_sampled)
y_actual_new = y_test_sampled

from sklearn.metrics import classification_report
print(classification_report(y_pred_new,y_actual_new))

data segregated
data split
data scaled
model trained
              precision    recall  f1-score   support

           0       0.97      0.78      0.87    138287
           1       0.72      0.96      0.83     83143

    accuracy                           0.85    221430
   macro avg       0.85      0.87      0.85    221430
weighted avg       0.88      0.85      0.85    221430